#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        #include "macros.dtsi"

        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick_tap_ms = <175>;
            flavor = "tap-preferred";
            bindings =
                <&kp>,
                <&kp>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        MAIN {
            bindings = <
                       &kp GRAVE   &kp N1     &kp N2        &kp N3    &kp N4         &kp N5              &kp NUMBER_6       &kp NUMBER_5     &kp N6     &kp N7     &kp N8         &kp N9         &kp N0                  &kp EQUAL
                         &kp TAB    &kp Q      &kp W         &kp E     &kp R          &kp T         &kp LA(LS(LCTRL))  &kp RA(RS(RCTRL))      &kp Y      &kp U      &kp I          &kp O          &kp P                  &kp MINUS
             &mt LCTRL BACKSLASH  &lt 1 A      &kp S         &kp D     &kp F          &kp G  &kp LS(LA(LC(LEFT_GUI)))         &kp ESCAPE    &kp ESC                              &kp ESC     &kp ESCAPE  &kp RA(RC(RS(RIGHT_GUI)))                &kp H   &kp J      &kp K    &kp L  &lt 1 SEMI       &mt RCTRL SINGLE_QUOTE
 &mt LEFT_SHIFT LEFT_PARENTHESIS  &lt 2 Z      &kp X         &kp C     &kp V          &kp B                     &none              &none   &kp HOME      &none      &none      &kp PG_UP          &none                      &none                &kp N   &kp M  &kp COMMA  &kp DOT  &lt 2 FSLH  &mt RSHFT RIGHT_PARENTHESIS
                           &mo 1   &tog 2  &kp LCTRL  &kp LEFT_ALT  &kp LCMD  &kp BACKSPACE                   &kp DEL            &kp END  &kp PG_DN  &kp ENTER  &kp SPACE  &kp RIGHT_GUI  &kp RIGHT_ALT     &mt RCTRL LEFT_BRACKET  &lt 2 RIGHT_BRACKET  &tog 1
            >;
        };

        FN {
            bindings = <
          &none     &kp F1  &kp F2  &kp F3  &kp F4                &kp F5                &kp F6   &kp F7   &kp F8            &kp F9     &kp F10  &kp F11  &kp F12       &kp C_VOL_UP
          &none      &none   &none   &none   &none                 &none                 &none   &trans    &none             &none       &none    &none    &none  &kp C_VOLUME_DOWN
   &kp CAPSLOCK      &none   &none   &none   &none                 &none                 &none  &kp F13  &kp F14                                &kp F18  &kp F17             &trans   &kp LEFT  &kp DOWN  &kp UP  &kp RIGHT   &none       &kp K_MUTE
 &kp LEFT_SHIFT      &none   &none   &none   &none                 &none                &trans   &trans  &kp F15            &trans      &trans  &kp F19   &trans             &trans      &none     &none   &none      &none   &none  &kp RIGHT_SHIFT
          &none  &kp LCTRL  &trans  &trans  &trans  &kp C_BRIGHTNESS_DEC  &kp C_BRIGHTNESS_INC  &kp F16  &kp F20  &kp K_PLAY_PAUSE  &kp K_NEXT   &trans   &trans          &kp RCTRL  &kp RCTRL     &none
            >;
        };

        num {
            bindings = <
 &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
 &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
 &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
 &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
 &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };
    };
};
